.filter-box {
  border: 1px solid #e1e1e1;
  margin-bottom: 30px;
}

.filter-box .header {
  padding: 5px 10px;
}

.filter-box .header .title {
  font-weight: bold;
  margin-right: 10px;
}

.filter-box .header .query {
  color: #444;
}

.filter-box .header .save {
  margin-left: 10px;
}

.filter-box .header .all {
  float: right;
}

.filter-box .header .saved-filters {
  float: right;
}

.filter-box .header .saved-filters .saved-filter {
  margin-left: 5px;
}

.filter-box .header .saved-filters .saved-filter .delete {
  margin-right: 5px;
  color: #eee;
  visibility: hidden;
}

.filter-box .header .saved-filters .saved-filter:hover .delete {
  visibility: visible;
}

.filter-box .header .saved-filters .saved-filter .delete:hover {
  color: #D50000;
}

.filter-box .body {
  border-top: 1px solid #e1e1e1;
  padding: 10px 10px;
  background-color: #fff;
}

.filter-box .body .filter-group {
  position: relative;
  display: inline-block;
}

.filter-box .body .filter-group .title {
  margin-right: 20px;
}

.filter-box .body .filter-group .title .caret {
  margin-left: 5px;
  color: #ccc;
  margin-left: 10px;
}

.filter-box .body .filter-group .title .caret-down {
  display: inline;
}

.filter-box .body .filter-group .title .caret-up {
  display: none;
}

.filter-box .body .filter-group .title:hover .caret {
  color: #0091EA;
}

.filter-box .body .filter-group.open .title .caret {
  color: #0091EA;
}

.filter-box .body .filter-group.open .title .caret-down {
  display: none;
}

.filter-box .body .filter-group.open .title .caret-up {
  display: inline;
}

.filter-box .body .filter-group .content {
  position: absolute;
  background-color: #fff;
  box-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.1);
  border: 1px solid #e1e1e1;
  padding: 10px;
  display: none;
  margin-top: -1px;
  margin-bottom: 20px;
  white-space: nowrap;
  z-index: 999;
}

.filter-box .body .filter-group.open .content {
  display: block;
}

.filter-box .body .filter-group .content .search .input {
  height: 2em;
  border-radius: 0;
  width: 100%;
}

.filter-box .body .filter-group .content .search .input,
.filter-box .body .filter-group .content .search .input:focus {
  border: 1px solid #e1e1e1;
}

.filter-box .body .filter-group .content .filter-item {
  padding: 1px 5px;
}

.filter-box .body .filter-group .content .filter-item:hover {
  background-color: #f6f6f6;
}

.filter-box .body .filter-group .content .filter-item a {
  margin-left: 3px;
  margin-right: 20px;
  text-decoration: none;
}

.filter-box .body .filter-group .content .filter-item .checkbox {
  margin: 4px 5px 0 0;
  color: #ddd;
  cursor: pointer;
}

.filter-box .body .filter-group .content .filter-item .checkbox.include.selected,
.filter-box .body .filter-group .content .filter-item .checkbox.include:hover {
  color: #388E3C;
}

.filter-box .body .filter-group .content .filter-item .checkbox.exclude.selected,
.filter-box .body .filter-group .content .filter-item .checkbox.exclude:hover {
  color: #D50000;
}
