.filter-box {
  border: 1px solid #e1e1e1;
  margin-bottom: 30px;
}

.filter-box .header {
  padding: 5px 10px;
}

.filter-box .header .title {
  font-weight: bold;
  margin-right: 10px;
}

.filter-box .header .query {
  color: #444;
}

.filter-box .header a.clear {
  margin-left: 10px;
}

.filter-box .toggle {
  border-top: 1px solid #e1e1e1;
  padding: 5px;
  text-align: center;
  cursor: pointer;
}

.filter-box .toggle:hover {
  background-color: #f6f6f6;
}

.filter-box .toggle .open {
  display: inline-block;
}

.filter-box .toggle .close {
  display: none;
}

.filter-box.open .toggle .open {
  display: none;
}

.filter-box.open .toggle .close {
  display: inline-block;
}

.filter-box .body {
  border-top: 1px solid #e1e1e1;
  padding: 10px 10px;
  background-color: #fff;
  display: none;
}

.filter-box .body .filter-group {
  float: left;
  margin-right: 20px;
}

.filter-box .body .filter-group .title {
  display: block;
  font-weight: bold;
  padding: 4px 5px;
  border-bottom: 1px solid #eee;
}

.filter-box .body .filter-group .filter-item {
  padding: 1px 5px;
}

.filter-box .body .filter-group .filter-item:hover {
  background-color: #f6f6f6;
}

.filter-box .body .filter-group .filter-item a {
  margin-right: 10px;
  text-decoration: none;
}

.filter-box .body .filter-group .filter-item .checkbox {
  float: right;
  margin: 4px 0px 0 5px;
  visibility: hidden;
  color: #bbb;
  cursor: pointer;
}

.filter-box .body .filter-group .filter-item .checkbox.include.selected,
.filter-box .body .filter-group .filter-item .checkbox.include:hover {
  color: #0091EA;
}

.filter-box .body .filter-group .filter-item .checkbox.exclude.selected,
.filter-box .body .filter-group .filter-item .checkbox.exclude:hover {
  color: #D50000;
}

.filter-box .body .filter-group .filter-item:hover .checkbox,
.filter-box .body .filter-group .filter-item .checkbox.selected {
  visibility: visible;
}
