.issue-list .grid {
  width: 100%;
}

.issue-list .grid th {
  padding: 4px 6px;
  white-space: nowrap;
}

.issue-list .grid td {
  padding: 4px 6px;
  white-space: nowrap;
}

.issue-list .grid td.title {
  width: 100%;
  white-space: normal;
}

.issue-list .grid td .indent:not(.last) {
  margin-right: 10px;
}

.issue-list .grid td .indent.last:after {
  content: '\21b2'; /* downwards arrow with tip leftwards */
  color: #bbb;
  margin-left: 2px;
}

.issue-list .grid td .span {
  padding: 2px 4px;
  line-height: 1.9em;
}

.issue-list .grid td .input {
  margin: 0 1px 0 0;
}

.issue-list .grid td.title .indents-container {
  display: table-cell;
  min-width: 1px;
}

.issue-list .grid td.title .editable-container {
  display: table-cell;
  width: 100%;
}

.issue-list .grid tr.priority-high td.title .editable:not(.editing):after {
   font-family: FontAwesome;
   content: "\f0e7"; /* bolt */
   display: inline-block;
   padding-left: 10px;
   padding-right: 10px;
   vertical-align: middle;
   width: 12px;
   color: #c62828;
   line-height: .9em;
}

.issue-list .grid tr.state-todo td.title .editable .span {
  background-color: #ffe0b2;
}

.issue-list .grid tr.state-doing td.title .editable .span {
  background-color: #b3e5fc;
}

.issue-list .grid tr.state-done td.title .editable .span {
  background-color: #c5e1a5;
}

.issue-list .grid tr.state-fixup td.title .editable .span {
  background-color: #ffe0b2;
}

.issue-list .grid tr.state-blocked td.title .editable .span {
  background-color: #ffcdd2;
}

.issue-list .grid tr.state-closed td.title .editable .span {
  color: #aaa;
  text-decoration: line-through;
}

td.title .editable .input {
  text-transform: none;
}
