@import '/assets/app/css/action-bar.css';
@import '/assets/app/css/editable.css';
@import '/assets/app/css/expressions.css';
@import '/assets/app/css/filter-box.css';
@import '/assets/app/css/grid.css';
@import '/assets/app/css/issue-detail.css';
@import '/assets/app/css/issue-list.css';
@import '/assets/app/css/skeleton.css';

* {
  outline: none;
}

body {
  font-size: 1.3em;
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
}

::selection {
  background: #0091EA;
  color: #fff;
}

.clear {
  clear: both;
}
