* {
  outline: none;
}

::selection {
  background: #0091EA;
  color: #fff;
}

body {
  font-size: 1.3em;
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
}

.actionbar {
  margin-bottom: 8px;
}

.filter-box {
  border: 1px solid #e1e1e1;
  margin-bottom: 30px;
}

.filter-box .header {
  padding: 5px 10px;
  cursor: pointer;
}

.filter-box .header .title {
  font-weight: bold;
  margin-right: 10px;
}

.filter-box .header .query {
  color: #444;
}

.filter-box .body {
  border-top: 1px solid #e1e1e1;
  padding: 10px 10px;
  background-color: #fff;
  display: none;
}

.filter-box .body a.clear {
  float: right;
}

.filter-box .body .filter-group {
  float: left;
  margin-right: 20px;
}

.filter-box .body .filter-group .title {
  display: block;
  font-weight: bold;
  padding: 4px 5px;
  border-bottom: 1px solid #eee;
}

.filter-box .body .filter-group .filter-item {
  padding: 1px 5px;
}

.filter-box .body .filter-group .filter-item:hover {
  background-color: #f6f6f6;
}

.filter-box .body .filter-group .filter-item a {
  margin-right: 10px;
  text-decoration: none;
}

.filter-box .body .filter-group .filter-item input {
  float: right;
  margin: 4px 0px 0 5px;
  visibility: hidden;
}

.filter-box .body .filter-group .filter-item:hover input {
  visibility: visible;
}

.filter-box .body .filter-group .filter-item input.visible {
  visibility: visible;
}

table.issues {
  width: 100%;
}

table.issues th {
  padding: 4px 6px;
  white-space: nowrap;
}

table.issues td {
  padding: 4px 6px;
  white-space: nowrap;
}

table.issues tr.selected td {
  background-color: #f6f6f6;
}

table.issues tr.selected td.selected {
  background-color: #e9e9e9;
}

table.issues td.title {
  width: 100%;
  white-space: normal;
}

table.issues td span {
  padding: 2px 4px;
  line-height: 1.9em;
}

table.issues td input {
  margin: 0 1px 0 0;
}

div.issue-detail .header {
  font-weight: bold;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 10px;
  padding: 4px 0;
}

.editable {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.editable .placeholder {
  color: #ccc;
}

.editable.multiline span {
  white-space: pre-wrap;
}

.editable .input {
  display: none;
  padding-left: 2px;
}

.editable textarea.input {
  border: 1px solid #ccc;
  border-radius: 0;
  padding: 2px 4px;
  margin: -3px -5px -1px -5px;

  /* Requried for textarea-autosize */
  box-sizing: border-box;
  min-height: 25px;
  overflow-x: hidden; /* for Firefox (issue #5) */
}

td.title .editable span.state-ready {
  background-color: #ffe0b2;
}

td.title .editable span.state-inprogress {
  background-color: #b3e5fc;
}

td.title .editable span.state-finished {
  background-color: #c5e1a5;
}

td.title .editable span.state-blocked {
  background-color: #ffcdd2;
}

td.title .editable span.state-closed {
  color: #aaa;
  text-decoration: line-through;
}

td.title .editable .input {
  text-transform: none;
}

.editable .input:focus {
  outline: 0;
}

.editable.editing span {
  display: none;
}

.editable.editing .input {
  display: table-cell;
  width: 100%;
}

.ui-autocomplete {
  position: absolute;
  margin: 0;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
}

.ui-autocomplete .ui-menu-item {
  margin: 0;
  padding: 1px 2px;
  cursor: default;
}

.ui-autocomplete .ui-menu-item.ui-state-focus {
  color: #ffffff;
  background-color: #0091EA;
}

.ui-helper-hidden-accessible {
  display:none;
}

.clear {
  clear: both;
}

.expression-and .expression-and-operator {
  color: #ccc;
  font-weight: bold;
  font-size: 11px;
  padding-right: 5px;
  padding-left: 5px;
}

.expression-constant {
  font-weight: bold;
}

/* Skeleton */

a {
  color: #0091EA;
}

a:hover {
  color: #0091EA;
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #0091EA;
  border-color: #0091EA;
}

.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #0091EA;
  border-color: #0091EA;
}

.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #0091EA;
  border-color: #0091EA;
}
