.project-list .grid {
  width: 100%;
}

.project-list .grid th {
  padding: 4px 6px;
  white-space: nowrap;
}

.project-list .grid td {
  padding: 4px 6px;
  white-space: nowrap;
}

.project-list .grid td.name {
  width: 100%;
  white-space: normal;
}

.project-list .grid td span {
  padding: 2px 4px;
  line-height: 1.9em;
}

.project-list .grid td input {
  margin: 0 1px 0 0;
}

td.title .editable .input {
  text-transform: none;
}
