.issue-list .grid {
	direction: rtl;
}

.issue-list .grid td {
  direction: ltr;
  text-align: left;
}

.issue-list .grid th.title {
  direction: rtl;
  text-align: right;
}

.issue-list .grid td.title {
  direction: rtl;
  text-align: right;
}
