table.issues {
	direction: rtl;
}

table.issues td {
  direction: ltr;
  text-align: left;
}

table.issues th.title {
  direction: rtl;
  text-align: right;
}

table.issues td.title {
  direction: rtl;
  text-align: right;
}
