@import '../../assets/stylesheets/common';

.list-component {
  display: table;
  border-top: 1px solid @gray;

  .list-item {
    display: table-row;

    .list-field {
      display: table-cell;
      border-bottom: 1px solid @gray;
    }

    &.selected {
      .list-field {
        background-color: #f6f6f6;
      }
    }
  }

  &.focus {
    .list-item {
      &.selected {
        .list-field {
          background-color: #e9e9e9;
        }
      }
    }
  }
}
