@import '../../assets/stylesheets/common';

.issue-detail-component {
  direction: initial;

  .header {
    border-bottom: 1px solid @darkgray;
    margin-bottom: 10px;
    font-weight: bold;
  }

  .description {
    white-space: pre-line;
    margin-bottom: 20px;
  }

  .created {
    .label {
      font-weight: bold;
    }
  }
}

.rtl {
  .issue-detail-component {
    .description {
      direction: rtl;
    }
  }
}
