@import '../../assets/stylesheets/common';

.input.component {
  display: block;
  padding: 6px 8px;
  border: 1px solid #d1d1d1;
  border-radius: 2px;
  height: 34px;
  background-color: @white;
  resize: none;

  &:focus {
    border-color: @primary;
  }
}
