body {
  font-size: 1.3em;
  padding: 20px 20px 20px 50px;
}

.actionbar {
  margin-bottom: 8px;
}

.sidebar label {
  display: block;
  padding-bottom: 4px;
  border-bottom: 1px solid #e1e1e1;
}

.sidebar .filter {
  padding: 2px 4px;
  margin-left: -38px;
}

.sidebar .filter:hover {
  background-color: #f6f6f6;
}

.sidebar .filter input {
  margin: 0 5px 0 0;
  visibility: hidden;
}

.sidebar .filter:hover input {
  visibility: visible;
}

.sidebar .filter input.visible {
  visibility: visible;
}

.sidebar a {
  text-transform: lowercase;
}

table.issues {
  width: 100%;
}

table.issues th,
table.issues td {
  padding: 4px 6px;
}

table.issues tr:hover td {
  background-color: #f6f6f6;
}

table.issues td span {
  padding: 2px 4px;
  line-height: 1.8em;
}

table.issues td input {
  margin: 0 1px 0 0;
}

table.issues td.project span {
  text-transform: lowercase;
}

table.issues td.state span {
  text-transform: lowercase;
}

table.issues td.assigned-user span {
  text-transform: lowercase;
}

editable {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

editable input {
  display: none;
  text-transform: lowercase;
  padding-left: 2px;
}

td.title editable input {
  text-transform: none;
}

editable input:focus {
  outline: 0;
}

editable.editing span {
  display: none;
}

editable.editing input {
  display: table-cell;
  width: 100%;
}

.ui-autocomplete {
  position: absolute;
  margin: 0;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
}

.ui-autocomplete .ui-menu-item {
  margin: 0;
  padding: 1px 2px;
  cursor: default;
  text-transform: lowercase;
}

.ui-autocomplete .ui-menu-item.ui-state-focus {
  color: #ffffff;
  background-color: #0fa0ce;
}

.ui-helper-hidden-accessible {
  display:none;
}
