extends page

block append head
  link(rel='stylesheet', href='/assets/app/css/main.css')
  link(rel='stylesheet', href='/assets/vendor/font-awesome/css/font-awesome.min.css')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans:400,700')
  link(rel='icon' href='/assets/app/images/favicon.png' type='image/png')
  script(src='/assets/vendor/jquery/jquery-ui.min.js')
  script(src='/assets/vendor/jquery-sticky/jquery.sticky.js')
  script(src='/assets/vendor/jquery.textarea_autosize/jquery.textarea_autosize.min.js')
  script(src='/assets/vendor/react/react.min.js')
  script(src='/assets/vendor/react/react-dom.min.js')
  script(src='/assets/vendor/react-router/reactrouter.min.js')
  script(src='/assets/vendor/underscore/underscore-min.js')
  script(src='/assets/vendor/async/async.min.js')
  script(src='/assets/vendor/eventemitter/eventemitter.min.js')
  script(src='/assets/vendor/mousetrap/mousetrap.min.js')
  script(src='/assets/vendor/loglevel/loglevel.min.js')
  script(src='/assets/vendor/classnames/classnames.js')

block append content
  div#app
  script(type='text/javascript').
    log.setLevel('trace');

    var config = {
      api: {
        address: '#{ config["NAUTILUS_WEB_API_ADDRESS"] }'
      },
      rtl: #{ config["NAUTILUS_WEB_RTL"] === true }
    };
  script(src='/assets/app/scripts/main.bundle.js')