extends page

block append head
  link(rel='stylesheet', href='/assets/hotkeys/hotkeys.min.css')
  link(rel='stylesheet', href='/app/css/main.css')
  script(src='/assets/jquery/jquery-ui.min.js')
  script(src='/assets/angular/angular.min.js')
  script(src='/assets/angular/angular-route.min.js')
  script(src='/assets/hotkeys/hotkeys.min.js')
  script(src='/assets/underscore/underscore-min.js')
  script(src='/app/main.js')

block append content
  script.
    var config = {
      'api-url': '#{ config["api-url"] }'
    };
  div(ng-app='app')
    div(ng-view='')
