extends page

block append head
  link(rel='stylesheet', href='/assets/app/css/main.css')
  script(src='/assets/vendor/jquery/jquery-ui.min.js')
  script(src='/assets/vendor/react/react.js')
  script(src='/assets/vendor/react/react-dom.js')
  script(src='/assets/vendor/underscore/underscore-min.js')
  script(src='/assets/vendor/async/async.min.js')
  script(src='/assets/vendor/eventemitter/eventemitter.min.js')
  script(src='/assets/vendor/mousetrap/mousetrap.min.js')
  script(src='/assets/vendor/loglevel/loglevel.min.js')

block append content
  div#app
  script(type='text/javascript').
    log.setLevel('trace');

    var config = {
      api: {
        address: '#{ config["NAUTILUS_WEB_API_ADDRESS"] }'
      },
      rtl: #{ config["NAUTILUS_WEB_RTL"] === true }
    };
  script(src='/assets/app/scripts/main.bundle.js')