extends layout

block head
  link(rel='stylesheet', href='/assets/skeleton/normalize.css')
  link(rel='stylesheet', href='/assets/skeleton/skeleton.css')
  if (config.rtl)
    link(rel='stylesheet', href='/app/css/rtl.css')
  script(src='/assets/jquery/jquery-2.1.1.min.js')
  title Nautilus
