@import '../../assets/stylesheets/common';

.button.component {
  display: inline-block;
  height: 34px;
  padding: 6px 14px;
  border: 1px solid @primary;
  border-radius: 2px;
  background-color: @primary;
  color: @white;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;

  &:hover {
    background-color: lighten(@primary, 5%);
  }

  i.before {
    margin-right: 5px;
  }

  i.after {
    margin-left: 5px;
  }

  &.secondary {
    border-color: @darkgray;
    background-color: @white;
    color: @text;

    &:hover {
      color: @primary;
    }
  }
}
