@import '../../assets/stylesheets/common';

.issue-component {
  cursor: default;

  .list-field {
    padding: 5px 10px;

    &.sid {
      text-align: center;
    }

    &.title {
      width: 100%;
      padding-left: 0;
      padding-right: 0;

      .priority-indicator {
        margin-left: 10px;
      }
    }
  }
}

.rtl {
  .issue-component {
    .list-field {
      &.title {
        direction: rtl;

        .priority-indicator {
          margin-right: 10px;
        }
      }
    }
  }
}
