@import '../../assets/stylesheets/common';

.issue-view-settings-component {
  display: flex;
  padding: 10px;
  border: 1px solid @darkgray;

  .query-builders {
    .query-builder {
      .title {
        padding-right: 10px;
      }
    }

    .query-text {
      .text {
        padding-top: 15px;
      }
    }

    .separator {
      margin-bottom: 10px;
    }
  }

  .buttons {
    margin-left: auto;

    .reset {
      margin-left: 10px;
    }

    .load {
      margin-left: 10px;
    }

    .save {
      margin-left: 10px;
    }
  }
}
