.issue-component {
  display: flex;

  .spacer {
    width: 100%;
  }

  .divider1 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .divider2 {
    margin-left: 10px;
    margin-right: 10px;
  }
}
