@import '../../assets/stylesheets/common';

.issues-page-component {
  .action-bar {
    margin-bottom: 20px;

    .button-component {
      margin-right: 10px;
    }
  }

  .container {
    .filter-sets {
      padding: 10px;
      border: 1px solid @darkgray;
      margin-bottom: 20px;

      .separator {
        margin-bottom: 10px;
      }

      .filter-set {
        .title {
          padding-right: 10px;
        }
      }
    }

    .item-list {
      float: left;
      width: ~"calc(100% - 300px - 10px)";
    }

    .item-detail {
      float: right;
      width: 300px;
      margin-left: 10px;
    }
  }
}
