.issues-page-component {
  .action-bar {
    margin-bottom: 20px;

    .button-component {
      margin-right: 5px;
    }
  }

  .container {
    .issue-filter {
      margin-bottom: 20px;
    }

    .task-filter {
      margin-bottom: 20px;
    }

    .item-list {
      float: left;
      width: ~"calc(100% - 300px - 10px)";
    }

    .item-detail {
      float: right;
      width: 300px;
      margin-left: 10px;
    }
  }
}
