.row
  .column
    br

.row
  .two.columns.sidebar
    br

    div
      a(href='' ng-click='filter.clear()') All Items
    br

    label Milestones
    div.filter(ng-repeat='milestone in milestones')
      input(type='checkbox' ng-class='{visible: $parent.filter.milestones.exclude.has(milestone)}' ng-model='checked_exclude' ng-checked='$parent.filter.milestones.exclude.has(milestone)' ng-click='$parent.filter.milestones.exclude.toggle(milestone, checked_exclude)')
      input(type='checkbox' ng-class='{visible: $parent.filter.milestones.include.has(milestone)}' ng-model='checked_include' ng-checked='$parent.filter.milestones.include.has(milestone)' ng-click='$parent.filter.milestones.include.toggle(milestone, checked_include)')
      a(href='' ng-click='filter.clear(); $parent.filter.milestones.include.set(milestone)') {{ milestone.title }}
    br

    label State
    div.filter(ng-repeat='state in states')
      input(type='checkbox' ng-class='{visible: $parent.filter.states.exclude.has(state)}' ng-model='checked_exclude' ng-checked='$parent.filter.states.exclude.has(state)' ng-click='$parent.filter.states.exclude.toggle(state, checked_exclude)')
      input(type='checkbox' ng-class='{visible: $parent.filter.states.include.has(state)}' ng-model='checked_include' ng-checked='$parent.filter.states.include.has(state)' ng-click='$parent.filter.states.include.toggle(state, checked_include)')
      a(href='' ng-click='filter.clear(); $parent.filter.states.include.set(state); $parent.filter.states.exclude.clear()') {{ state.title }}
    br

    label Assignee
    div.filter(ng-repeat='user in users')
      input(type='checkbox' ng-class='{visible: $parent.filter.assignedUsers.exclude.has(user)}' ng-model='checked_exclude' ng-checked='$parent.filter.assignedUsers.exclude.has(user)' ng-click='$parent.filter.assignedUsers.exclude.toggle(user, checked_exclude)')
      input(type='checkbox' ng-class='{visible: $parent.filter.assignedUsers.include.has(user)}' ng-model='checked_include' ng-checked='$parent.filter.assignedUsers.include.has(user)' ng-click='$parent.filter.assignedUsers.include.toggle(user, checked_include)')
      a(href='' ng-click='filter.clear(); $parent.filter.assignedUsers.include.set(user)') {{ user.name }}
    br

    label Project
    div.filter(ng-repeat='project in projects')
      input(type='checkbox' ng-class='{visible: $parent.filter.projects.exclude.has(project)}' ng-model='checked_exclude' ng-checked='$parent.filter.projects.exclude.has(project)' ng-click='$parent.filter.projects.exclude.toggle(project, checked_exclude)')
      input(type='checkbox' ng-class='{visible: $parent.filter.projects.include.has(project)}' ng-model='checked_include' ng-checked='$parent.filter.projects.include.has(project)' ng-click='$parent.filter.projects.include.toggle(project, checked_include)')
      a(href='' ng-click='filter.clear(); $parent.filter.projects.include.set(project)') {{ project.name }}
    br

  .ten.columns
    div.actionbar
      button.button-primary(ng-click='newIssue();' title='Shortcut: N') New Issue

    table.issues
      tr
        th Milestone
        th Project
        th Title
        th State
        th Assignee
      tr(ng-repeat='issue in issues | includeMilestones: filter.milestones.include.items | excludeMilestones: filter.milestones.exclude.items | includeStates: filter.states.include.items | excludeStates: filter.states.exclude.items | includeAssignedUsers: filter.assignedUsers.include.items | excludeAssignedUsers: filter.assignedUsers.exclude.items | includeProjects: filter.projects.include.items | excludeProjects: filter.projects.exclude.items | reverse' id='issue-{{ issue.id }}')
        td.milestone(nowrap)
          editable(ng-init='milestoneTitle = issue.milestone.title' ng-model='milestoneTitle' ng-data-source='milestonesTitles' ng-changed='updateItem(issue, { milestoneTitle: milestoneTitle })')
        td.project(nowrap)
          editable(ng-init='projectName = issue.project.name' ng-model='projectName' ng-data-source='projectsNames' ng-changed='updateItem(issue, { projectName: projectName })')
        td.title(style='width: 100%;')
          editable(ng-init='title = issue.title' ng-model='title' ng-changed='updateItem(issue, { title: title })' ng-span-style='background-color: {{issue.state.color}}')
        td.state(nowrap)
          editable(ng-init='stateTitle = issue.state.title' ng-model='stateTitle' ng-data-source='statesTitles' ng-changed='updateItem(issue, { stateTitle: stateTitle })')
        td.assigned-user(nowrap)
          editable(ng-init='assignedUserName = issue.assignedUsers[0].name' ng-model='assignedUserName' ng-data-source='usersNames' ng-changed='updateItem(issue, { assignedUserName: assignedUserName })')
